@font-face {
  font-family: "Pangea";
  src: url("/fonts/PangeaAfrikanTextTrial-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #3d3b40;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Pangea", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.6;
}

.mainBody
{
  display: flex;
  flex-direction: column;
  align-items: center;
}